.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  height: 75vh;
  text-align: center;
  color: $pure-white;
  @include heroImages("../../assets/palmMobile.jpg");
  background-attachment: scroll;

  &__heading {
    font-family: "Dancing Script", cursive;
    font-size: 4.8rem;
    font-weight: 300;
  }

  &__text {
    font-size: 1.4rem;
  }

  &__btn {
    background: $pure-white;
    margin-top: 2em;
    padding: 0.8em 1.6em;
    font-size: 1.4rem;
    border: none;
    border-radius: 8px;
    color: $dark;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &::before {
      background-color: $light-white;
    }
  }
}

@media (min-width: 768px) {
  .header {
    &__heading {
      font-size: 6.6rem;
    }

    &__text {
      font-size: 2.2rem;
    }

    &__btn {
      font-size: 1.6rem;
    }
  }
}

@media (min-width: 992px) {
  .header {
    background-image: $blue-gradient, url(../../assets/palm.jpg);

    &__heading {
      font-size: 10rem;
    }
  }
}
